/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

:root {
    --azul: #7092be;
    --azul-claro: #99d9ea;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: var(--azul);
}
nav .navbar-brand .light-blue
{
    color: var(--azul-claro);
}

.nav-link {
    color: var(--azul); 
}

.nav-link:hover {
    color: var(--azul-claro);
}

.azul {
    color: var(--azul);
}

body {
    color: white; /* Set text color to white */
}

.image {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.big-image {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
