{% extends "layout.html" %}

{% block title %}
    Learn
{% endblock %}

{% block main %}
    <h1>Learn</h1>
    <img class= "big-image mb-5" src="/static/library.jpg">
    <div>
        <p> Welcome to the Learn Section of MathMaster! In this part of the website, you will be able to access links for studying the
            5 subjects of math available in this website. Most of the content of the pages was written by AI and some corrections were made.
        </p>
    </div>

    <div style="text-align: left;">
        <h5>Learn the principles clicking the links below:</h5>

        <ul>
            <li><a href="/functions">Functions </a></li>
            <li><a href="/geometry">Geometry </a></li>
            <li><a href="/trigonometry">Trigonometry </a></li>
            <li><a href="/proportion">Proportion </a></li>
            <li><a href="/financial_math">Financial Math </a></li>
        </ul>

        <h5>You can also expand your knowledge by subscribing to some of these YouTube Channels:</h5>
        <ul>
            <li><a href="https://www.youtube.com/@3blue1brown">3Blue1Brown </a></li>
            <li><a href="https://www.youtube.com/@CienciaTodoDia">Ciência Todo Dia </a></li>
            <li><a href="https://www.youtube.com/@numberphile">Numberphile </a></li>
            <li><a href="https://www.youtube.com/@khanacademy">Khan Academy </a></li>
            <li><a href="https://www.youtube.com/@ComoEBomSerNerd">Como é bom ser nerd </a></li>
            <li><a href="https://www.youtube.com/@khanacademy">Khan Academy </a></li>
            <li><a href="https://www.youtube.com/@sandrocuriodicasdemat">Sandro Curió </a></li>
            <li><a href="https://www.youtube.com/@equacionamatematica">Equaciona Com Paulo Pereira </a></li>
        </ul>
    </div>
{% endblock %}
